/** @format */
.postsContanier {
  grid-area: pro;
  width: 500px;
}


.post {
  padding: 10px;
  margin: 10px 5px;
  font-size: 16px;
  border: 1px solid #c5c5c5;
  color: rgb(38, 38, 38);
}
/* .hide {
  display: none;
} */
.commentsBtn {
  color: rgb(38, 38, 38);
}
.commentsBtn:hover {
  cursor: pointer;
  color: black;
  padding: 5px;
  border: 1px solid #ebe4e4;
  box-shadow: 1px 2px #888888;
}

#comments {
  padding: 10px;
  margin: 10px 5px;
  font-size: 16px;
  border: 1px solid #c5c5c5;
  color: rgb(38, 38, 38);
}
